:root {
  --basic-black: #000;
  --basic-grey: #eee;
  --basic-grey-social: #e1e1e1;
  --basic-grey-darken: #dfdfdf;
  --basic-grey-dark: #d5d5d5;
  --grey-dark: #555;
  --grey-dark-dark: #444;
  --basic-text: #000;
  --basic-white: #fff;
  --text-white-transparent: rgba(255,255,255,.3);
  --text-black-transparent: rgba(0,0,0,.3);
  --text-black-transparent-light: rgba(0,0,0,.1);
  --text-black-transparent-dark: rgba(0,0,0,.5);
  --sort-black: #231F20;
  --text-grey: #283136;
  --text-grey-transparent: rgba(40,49,54,.3);
  --red: #FB565A;
  --red-darken: #E74246;
  --red-dark: #D7373B;
  --green: #00CA74;
  --green-darken: #00BC6C;
  --green-dark: #00AA62;
  --yellow: #EFC849;
  --yellow-darken: #EAB534;
  --yellow-dark: #E5A722;
  --template-backgound: #f2f2f2;
  --template-grey: #4d4d4d;
  --template-grey-transpatent: rgba(77,77,77,.12);

  --shadow: rgba(0, 1, 1, 0.25)
}

body {
  font-family: 'Roboto', sans-serif;
  width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: min-content 1frgit min-content;
  height: 100vh;
}

*, *::before, *::after { box-sizing: border-box; }

a {
  text-decoration: none;
}

.container {
  margin: 0 140px;
}

.visual-delimiter {
  background-color: var(--basic-grey);
  height: 2px;
  border: none;
  margin: 0px 140px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.page-header {
  background-color: var(--basic-grey);
  /*height: 114px;*/
  padding-top: 50px;
}

.page-logo:active {
  opacity: .3;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  display: inline-block;

  text-transform: uppercase;

  color: var(--basic-black);
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  background-image: url(../img/cart-icon.svg);
  height: 15px;
  width: 15px;
  opacity: 1;

  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link-current {
  border-bottom: solid 2px var(--red);
}

.nav-link-list {
  display: flex;
  align-self: center;

  gap: 46px;

  list-style: none;
  padding: 0;
}

.nav-link:hover {
  color: var(--red);
}

.nav-link:active{
  color: var(--basic-black);
  opacity: .3;
}

/*main*/

.main-header {
  background-color: var(--basic-grey);
  height: 235px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
}

.main-shop {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  margin-top: 55px;
}

.main-filters {
  width: 260px;
}

.filter-items label {
  position: relative;
  cursor: pointer;
}

.filter-items input[type="radio"] + label::before {
  content: "";
  height: 25px;
  width: 25px;

  position: absolute;

  border: solid 4px var(--template-grey);
  border-radius: 50%;
  opacity: .4;

  top: 50%;
  transform: translateY(-50%);

  left: -35px;
} 

.filter-items input[type="radio"]:checked + label::after {
  content: "";
  height: 9px;
  width: 9px;

  position: absolute;

  background-color: var(--template-grey);
  border-radius: 50%;
  opacity: .4;

  top: 50%;
  transform: translateY(-50%);

  left: -27px;
}

.filter-items input[type="radio"] + label:hover::after,
.filter-items input[type="radio"] + label:hover:before {
  opacity: 1;
}

.filter-items input[type="radio"]:disabled + label::after,
.filter-items input[type="radio"]:disabled + label::before {
  opacity: .1;
}

.filter-items input[type="checkbox"] + label::before {
  content: "";
  height: 25px;
  width: 25px;

  position: absolute;

  opacity: .4;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZUhDgIxEAB3D5og7wmHKk+pavoDnnAgUZxE3hP4QytqeUYVPOF8RdkVJATbcmonabZrJmnNIBDW2onGWErpoRJEXMhz996fkcQzLSM0hpzTluaRl5zzPsb4gkqMMYNS6kkvOHWfr2gh/vH0HfwRkYtc5CIX+Xpybh5fnHMDNODLs3BDr9w7aM+8SSk9tNacugOdHdTD9b+FEC5vw3k7FdmlGVgAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: 23px;

  top: 50%;
  transform: translateY(-50%);

  left: -35px;
} 

.filter-items input[type="checkbox"]:checked + label::before {
  content: "";
  height: 25px;
  width: 25px;

  position: absolute;

  opacity: .4;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAXCAYAAAD+4+QTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGwSURBVHgBrZXbjYJAFIYP6KMxlMB24HYA72qwArWC1Qp0K1g6kO2AxOvbUoIdaAkk+uZt/7PLJMOEyxD4k8nMHOB8Zy7nYHieZz2fzyURjV+vl0U1ZBhGDF+jzWYTyXbz8Xh8wflHXQALAJ8BHPhgMJgJext0DwC63W5vh8PhTDWV7MwPhr1+v28BumwnKzg3AWAxAD57PMYCFsPh8GRSg0LkgQAIYe40BmEAIh8r5mC9Xk/b1ICwJT4iTgEwP16v1zmPc1eCA7S5UTlgybczA+BGURTnQtg5HyC3IlACWBQBMiECgJdtbjx2HMfSAUDn+/0+kgGZEOQL540tRWZ3Op0UKA+Ab11OBSTipBCy3W59dL5sw63pCZAmYFUIYeHazeHoWwV1u91TESCZr1R/ubcL5WCigjLqmwrIVGEyMghdlPM41gGUQlitVmuErTqqAFRvV7felULCMIxN03Ql0B9gt9sdSVNatUuA6D8PplUA2hABulwu7/v9PqSKqlSF1UzWhvB/Gb2lUwzLJPlIBcN/xgD9DId5QrZSHcGHGAay3cQV/VSNNcQr8LliyMZfM8w6x4pfZLgAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: 25px;

  top: 50%;
  transform: translateY(-50%);

  left: -35px;
}

.filter-items input[type="checkbox"] + label:hover:before {
  opacity: 1;
}

.filter-items input[type="checkbox"]:disabled + label::before {
  opacity: .1;
}

.filter h2 {
  margin-bottom: 16px;
}

.filter-items {
  list-style: none;
  padding: 0;
  margin: 0;

  padding-left: 35px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
}

.filter + .filter {
  margin-top: 43px;
}

.filter-items li {
  user-select: none;
}

.filter h2 {
  font-size: 18px;
  margin-bottom: 13px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-background{
  background-color: var(--basic-grey);
}

.filter output {
  background-color: var(--basic-grey);
}

.filter label {
  font-size: 16px;
  line-height: 19px;

  color: var(--text-grey);
}

.filter input:disabled + label {
  color: var(--text-grey-transparent);
}

.sort-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--sort-black);
}

.sort-item label {
  cursor: pointer;
  opacity: .2;
}

.sort-item:hover label {
  opacity: .6;
}


.sort-item input:checked + label,
.sort-item input:active + label{
  opacity: 1;
}


.main-tagline {
  background-color: var(--basic-grey);
}

.tagline-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.tagline-image-container {
  justify-self: right;
}

.main-tagline h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.main-tagline p {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-grey);
}

.main-services {
  list-style: none;
  padding: 0;
  margin-top: 134px;
  margin-bottom: 134px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 134px;
  justify-items: center;
  align-items: start;
}

.main-about {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;

  margin-top: 39px;
  margin-bottom: 39px;
}

.about-us-achievements h3 {
  text-align: center;
}

.achievements-list {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*buttons*/

.button {
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-giant{
  padding: 17px 72px;
}

.button-huge {
  padding: 17px 54px;
}

.button-regular {
  padding: 17px 44px;
}

.button-square {
  padding: 15px 20px;
}

.button-filter-show {
  padding: 17px;
  width: 100%;
  margin-top: 65px;
}

.button-red {
  background-color: var(--red);
  color: var(--basic-white);
}

.button-red:hover {
  background-color: var(--red-darken);
}

.button-red:active{
  background-color: var(--red-dark);
  color: var(--text-white-transparent);
}

.button-green {
  background-color: var(--green);
  color: var(--basic-white);
}

.button-green:hover {
  background-color: var(--green-darken);
}

.button-green:active{
  background-color: var(--green-dark);
  color: var(--text-white-transparent);
}

.button-yellow {
  background-color: var(--yellow);
  color: var(--basic-white);
}

.button-yellow:hover {
  background-color: var(--yellow-darken);
}

.button-yellow:active{
  background-color: var(--yellow-dark);
  color: var(--text-white-transparent);
}

.button-grey {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.button-grey:hover {
  background-color: var(--basic-grey-darken);
}

.button-grey:active{
  background-color: var(--basic-grey-dark);
  color: var(--text-black-transparent);
}

/*services*/

.services-item  h2{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;

  color: var(--text-grey);
}

/*about-block*/

.about-us h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-grey);
  margin-bottom: 40px;
}

.about-us-facilities h3 {
  color: var(--text-grey);

  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;

  margin-bottom: 23px;
}

.facilities-list {
  list-style: none;
  padding-left: 37px;
}

.facilities-item {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.1em;

  color: var(--text-grey);

  position: relative;
}

.facilities-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -37px;

  height: 2px;
  width: 25px;

  background-color: var(--red);


}

.about-us-achievements h3{
  color: var(--text-grey);

  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;

  margin-top: 37px;
  margin-bottom: 31px;
}

.achievements-item span{
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.achievements-item p {
  font-size: 16px;
  line-height: 18px;

  color: var(--text-grey);
}

.achievements-item sup {
  top: -0.25em;
}

.main-partners + hr {
  margin-bottom: 40px;
}

.parnters-list {
  list-style: none;
  padding: 0;

  margin-top: 46px;
  margin-bottom: 44px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 95px;
}

.parnters-list li { position: relative;}
.parnters-list li::after {
  content: "";
  background-color: var(--basic-grey);

  position: absolute;
  left: calc(100% + 50px);
  top: 20px;

  height: 52px;
  width: 1px;
}
.parnters-list li:nth-child(4)::after{ content: none; }

.parnters-list img {
  opacity: .2;
}

.parnters-list img:hover {
  opacity: 1;
}

.parnters-list img:active {
  opacity: .1;
}

/*templates*/

.main-templates {
  max-width: 760px;
}

.templates-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 48px;
}

.sort-items {
  display: flex;
}

.templates-sort ul {
  list-style: none;
  padding: 0;
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.templates-sort ul:first-child {
  margin-right: 47px;
}

.sort-item:not(:last-child) {
  margin-right: 25px;
}


.templates-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 30px;
}

.templates-item {
  background-color: var(--template-backgound);
  position: relative;
  border-radius: 5px;
  outline: 1px solid var(--text-black-transparent-light);
}

.templates-item:hover {
  box-shadow: 0px 6px 15px var(--shadow);
  outline: none;
}

.templates-item:hover > .templates-item-head  {
  opacity: 1;
}

.templates-item:hover > .templates-item-about  {
  display: flex;
}
.templates-item-about {
  display: none;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--basic-grey);

  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  height: 231px;
}

.templates-item-about h2 {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.templates-item-about p {
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-dark);
  text-align: center;

  margin-bottom: 32px;
}

.templates-item-head {
  background-color: var(--template-grey);
  opacity: .12;
  height: 40px;
  position: relative;
}

.templates-item-head::before {
  content: url(../img/templates-head-dots.svg);

  position: absolute;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.templates-pagination {
  margin-top: 55px;
  margin-bottom: 20px;
}

.pagination-current {
  border: solid 3px var(--basic-grey);
  background-color: var(--text-white);
  transform: scale(.9);
}

/*footer*/

.page-footer {
  margin-top: 40px;
}

.footer-map{
  position: relative;
  background-image: url("../img/map.jpg");
  background-color: var(--basic-grey);
}

.map-marker {
  position: absolute;
  left: 822px;
  top: 86px;
}

.footer-contacts {
  display: inline-block;
  background-color: var(--basic-white);
  height: 308;
  width: 319;
  
  padding: 50px;
  margin: 54px 140px;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 217px;
}

.footer-social ul {
  display: flex;
  justify-content: flex-start;
  gap: 9px;

  list-style: none;
  padding: 0;

  margin-right: 139px;
}

.footer-social-link a{
  height: 81px;
  width: 81px;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
  background-color: var(--basic-grey-social);
}

.footer-social-link a:hover {
  background-color: var(--red-darken);
}

.footer-social-link a:active > img {
  opacity: .3;  
}

.footer-contacts {
  background-color: var(--basic-white);
}

.footer-contacts h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-contacts address {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 1em;
  color: var(--grey-dark);
  font-style: normal;
}

.footer-contacts a {
  font-size: 16px;
  line-height: 18px;

  color: var(--grey-dark);
  font-style: normal;
}

.footer-contacts button {
  margin-top: 38px;
  display: block;
}

.footer-friends h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-friends p {
  font-size: 15px;
  line-height: 22px;
  color: var(--grey-dark-dark);

}